
    {{!-- hbs.registerPartials()とセットで使用 --}}

    <header>

        <h1> {{title}} </h1>

        <div>
            <a href="/">ALL</a>
            {{!-- <a href="/about">Pork</a>
            <a href="/help">Chicken</a> --}}
        </div>


    </header>
    
